*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    color: orange;
}
ul{
    list-style: none;
}


.main{
    width: 600px;
    display: flex;
    flex-direction: column;
  
}
.main > *{
    margin-top: 15px;
}
.main h2{
   align-self: center;
}
.searchbar{
    width: 600px;
    align-self: center;
    position: relative;
}
.searchbar #text,#btn{
    outline: none;
    border: none;
}
.searchbar #text{
    width: 598px;
    height: 40px;
    border: 1px solid red;
    text-indent: 10px;
    font-size: 18px;
    line-height: 40px;
}
.searchbar #btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80px;
    text-align: center;
    height: 42px;
    background-color: red;
    color: #fff;
    padding: 0 30px;
}
.cityBar{
    width: 100%;
    display: flex;

}
.cityBar li{
  padding-right: 15px;
}
.citylist{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    
   
}
.citylist li{
    flex: 1;
    font-size: 14px;
    justify-self: center;
    text-align: center;
    padding: 8px 10px;
}
.citylist li *{
    margin-top: 8px;
}
.citylist li .small{
    font-size: 12px;
}
.citylist li:not(:last-child){
    border-right: 1px solid #ddd;
}